<template>
  <div class="container">
    <h1>Questões</h1>
    <div class="questao" v-for="(question, index) in questions"
      v-bind:item="question"
      v-bind:index="index"
      v-bind:key="question._id">
        <p class="enunciation"><span class="numero-questao"> {{ question.number }}</span>{{ question.enunciation }} </p>
        <label class="container-radio" v-for="(alternative, index) in question.alternatives">{{letras[index]}}) {{alternative}}
            <input type="radio" :name="`${question.test.year}${question.number}`" :value="index" v-model="selectedQuestion" v-on:click="habilitaBotao(`button${question.test.year}${question.number}`)">
            <span class="checkmark"></span>
        </label>
        <button type="submit" :id="`button${question.test.year}${question.number}`" :name="`button${question.test.year}${question.number}`" :class="classeBotao" :disabled="estadoBotao" v-on:click="apertaBotao(question._id, selectedQuestion)">Enviar</button>
        <div class="alert alert-dismissible mensagem-retorno" :id="`divAlerta${question._id}`" display="hidden">
        </div>
        <hr/>
    </div>
  </div>
</template>

<script>
import QuestionService from '../QuestionService';

export default {
  name: 'QuestionComponent',
  props: {
    msg: String
  },
  data(){
    return {
      questions: [],
      error: '',
      filtro: '',
      questionId: null,
      classeBotao: ['btn', 'btn-primary', 'not-allowed'],
      estadoBotao: 'true',
      letras: ['a', 'b', 'c', 'd', 'e']
    }
  },
  async created(){
    try {
      QuestionService.getQuestions().then(q => { this.questions = q })
    } catch (err){
      this.error = err.message;
    }
  },
  methods: {
    apertaBotao(questao, selecionada){
      //alert('teste ' + questao + ' ' + selecionada);
      QuestionService.verifyAnswer(questao, selecionada).then((res) => {
        if ( res.data.correct === 'true'){
          $('#divAlerta' + questao).text("Parabéns! Você acertou!");
          $('#divAlerta' + questao).removeClass('alert-danger').addClass('alert-success').show();
        } else {
          $('#divAlerta' + questao).text("Você errou!");
          $('#divAlerta' + questao).removeClass('alert-success').addClass('alert-danger').show();
        }

      }).catch(err => {
        alert('erro: '+err)
      })
    },
    habilitaBotao(botao){
      //alert();
      $('#' + botao).removeClass('not-allowed').prop('disabled', false);
      //this.classeBotao.pop();
      //this.estadoBotao = false;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.mensagem-retorno {
  display: inline-block;
  width: 90%;
  left: 10px;
  top: 6px;
  height: 40px;
  margin-bottom: 0
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.not-allowed {cursor: not-allowed;}
/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.numero-questao {
  font-weight: bold;
  right: 20px;
  padding-right: 20px;
}

.letra-questao {
  font-weight: bold;
  padding-right: 20px;
}

.enunciation {
  font-size: 22px;
}

.questao {
  text-align: left;
}

input[type=radio] {
  text-align: left;
}

p {
  text-align: left;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
